:root {
  --blob-size: 250;
  --blob-size1: 250px;
}

html, body {
  font-family: system-ui;
  background-color: #e3e3e3;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#menu {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

#menu .content {
  position: relative;
}

#menu .content #pill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  color: black;
  border-radius: 2em;
  transition: left .5s ease, width .5s ease;
}

#menu .content #items {
  display: flex;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 25px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(11.4px);
-webkit-backdrop-filter: blur(11.4px);
border: 1px solid rgba(255, 255, 255, 0.21);
}

#menu .content #items .item {
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
  transition: .2s ease;
}

#menu .content #items .item.active {
  color: #000;
  font-weight: bold;
  text-shadow: 2px 2px 25px #8e8e8e;
}

#menu .content #items .item:not(.active):hover {
  color: #2e2e2e;
}





@keyframes rotate {
  form {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,158,160,1) 35%, rgba(160,214,180,1) 100%);
  height: calc(var(--blob-size) * 5px);
  width: calc(var(--blob-size) * 5px);
  border-radius: 50% ;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: rotate 20s infinite;
  opacity: 50%;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(150px);
}

.home-box {
    display: flex;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 25px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(11.4px);
-webkit-backdrop-filter: blur(11.4px);
border: 1px solid rgba(255, 255, 255, 0.21);
width: 250px;
height: 500px;
}